wheel
aiohttp
aiofiles
aria2p
wheel
aiohttp
aiofiles
moviepy
aria2p
async_generator
cowpy
psutil
wget
telethon-tgcrypto
cffi
dnspython
emoji
PyPDF2
pybase64
cryptg
patool
gitpython
asyncurban
google-api-python-client
google-auth-httplib2
google_trans_new
googletrans==4.0.0rc1
google-auth-oauthlib
google_images_download
gTTS
gTTS-token
hachoir
REPO_LINK
heroku3
httplib2
humanize 
lxml
oauth2client
pillow
fontTools
psycopg2
psycopg2-binary
pybase64
pylast
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
requests
search-engine-parser
speedtest-cli
SQLAlchemy
telethon
telethon-session-sqlalchemy
urbandict
wikipedia
coffeehouse
git+https://github.com/johnwmillr/LyricsGenius.git
git+https://github.com/voins/google-images-download.git@2cd68173c961324a2c41c61e8b6f40a49663ce60
lyricsgenius
redis
PyDrive2
pyDownload
beautifulsoup4
youtube-dl
yt-dlp
PyGithub
bs4
covid
base
pip
setuptools
selenium
telegraph
python-dateutil
pyfiglet   
jotquote
html_telegraph_poster
csvfaker
Telethon
git+https://github.com/ahupp/python-magic
pytube
pymongo
youtube_search
justwatch
deezloader
zipfile38
bitlyshortener
validators
geopy
glitch_this
lyrics_extractor
twitter_scraper
pyaztro
jikanpy
vcsi
lottie
wand
colour
scipy
wordcloud
scikit-image
pendulum
opencv-python
youtube-search-python
